:root {
  --light-blue: #3355dd;
  --blue: #2745ba;
  --white: #eeeeee;
  --offWhite: #dddddd;
  --black: #000000;
  --purple: #4234c7;
  --light-purple: #6252f2;
}

body {
    background: var(--offWhite);                                                            
    color: var(--black);
    font-family: helvetica;
}

ul {
    font-family: helvetica;
    text-align:justify;
}

li {
  list-style: circle;
}

* {
  box-sizing: border-box;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  overflow: visible;
  top: 0px;
}

.navBar .button {
  position: relative;
  padding: 15px 32px;
  margin: 0px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  float: left;
  cursor: pointer;
  border: 0px;
  color: var(--white);
  background-color: var(--purple);
}

.navBar .button:hover {
  background-color: var(--light-purple);
}

.mainContent {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  padding-top: 60px;
  background-color: var(--white);
  text-align: center;
}

.mainContent .introduction {
  background-color: var(--offWhite);
  margin: 0.5cm 50% 0.5cm 0px;
  padding: 2.5cm;
  border-radius: 25px;
  text-align: left;
}

#headingTitle {
  text-transform: uppercase;
}
.mainContent .summary {
}

.footer {
  width: 100%;
  background-color: var(--light-purple);
  padding: 5px;
  text-align: center;
} 