:root {
  --light-blue: #3355dd;
  --blue: #2745ba;
  --white: #ffffff;
  --black: #000000;
  --purple: #4234c7;
  --light-purple: #6252f2;
}

body {
    background: var(--bg);                                                            
    color: var(--fontColor);
    font-family: helvetica;
}

ul {
    font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--purple);
  --btnRadius: var(--black);
  --btnFontColor: var(--white);
  --btnHover: var(--light-purple);
}

.header {
  background-color: #dddddd;
  clear: both;
  padding: 5px;
  top: 5px;
  text-align:center;
}

.navBar .button {
  padding: 15px 32px;
  margin: 0px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: left;
  border: 0px;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.leftColumn {
  width: 25%;
  float:left;
  background-color: #dddddd;
  padding: 0px;
  text-align: center;
}

.middleColumn {
  width: 50%;
  float:left;
  background-color: #dddddd;
  padding:0px;
  text-align:center;
}

.rightColumn {
  width: 25%;
  float:left;
  background-color: #dddddd;
  padding:0px;
  text-align:center;
}

.navBar .button:hover {
  background-color: var(--btnHover);
}